.helloName {
    margin-left: 70px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mainBigDiv {
    margin-left: 70px;
    margin-top: 50px;
    display: flex;
    gap: 100px;
}

.bigLeftDiv {
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 18px;
    width: 300px;
    border-right: 1px solid rgba(109, 107, 107, 0.477);
}

.bigLeftDiv > p {
    cursor: pointer;
}

.bigRightDiv {

}